<html>
  <head>
    <title>BucketList </title><title>Bucketlist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
     
        <div class="jumbotron">
            <h1>Example Bucket List</h1>
            
            
        </div>
      <dl>
  <dt>bucketlist 1</dt>
  <dd>climb mt kilimanjaro</dd>
  <input type="checkbox" name="bucketlist" value="first">complete<br>
<dt>bucketlist 2</dt>
  <dd>climb mt kilimanjaro</dd>
  <input type="checkbox" name="bucketlist" value="first">complete<br>
</dl
     
  </body>
</html>
