<html>
  <head>
    <title>Bucketlist home</title><title>python flask</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/list.css" rel="stylesheet">
  </head>
  <body>
<div class="container">
	<div class="row">
        <div class="col-md-4"></div>
	    <div class="col-md-4">
            <h2>New Bucketlist</h2>
		    <form name="checkListForm">
			    <input type="text" name="checkListItem" placeholder="Add Item..."/>
		    </form>
	    	 <button type="button" id="add" class="btn btn-info">Add</button>
             <button type="button" id="clear" title="Clear checked items" class="btn btn-default">clear</button>
		    <br/><br/>
		    <div class="list"></div>
        </div>
        <div class="col-md-4"></div>
	</div>
</div>
  </body>
</html>
